In [2]:
#!pip install selenium
import warnings
warnings.filterwarnings('ignore')

# Question 1:

In [3]:
# importing the required libraries:
import selenium
from selenium import webdriver
import pandas as pd

In [4]:
# Now we will connect to the web driver:

driver = webdriver.Chrome('chromedriver.exe')

In [22]:
url = 'https://www.naukri.com/'
driver.get(url)

In [23]:
search_job = driver.find_element_by_class_name("suggestor-input ")
search_job

In [24]:
search_job.send_keys("Data Analyst")
search_job.click()

In [25]:
search_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [26]:
search_location.send_keys("Bangalore")

In [27]:
search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button

In [28]:
search_button.click()

In [29]:
title_tags = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="24c14a35-2785-4076-926c-9a1d8f2a4cc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="1d7e8056-a731-4248-9140-e1ee6a1b0df4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="73f6e934-9f96-48cf-9bc9-92c6c25a3ea2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="896b3066-43fb-48aa-aaa3-3a847cb1eff3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="e8980083-db90-4194-8536-057c4d988405")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="d919fffe-e495-42e1-999a-e0c668bf6e7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="4d3a1e00-9909-4cc5-b409-3c3805d47b46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="d609d251-8109-4eb1-b673-97f40cca157e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="cc26bb97-01f0-450b-83bd-577dcef70157")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="43c0502d-c77b-4ad0-b32d-3993d8d24d76")>]

In [30]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
a = job_titles[0:10]   
a

['Hiring Data Analyst For Global Logic-Immediate Joiner',
 'Senior Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Assistant Clinical Data Analyst',
 'Lead - Data Analyst / Scientist',
 'Data Analyst / Sr. Data Analyst',
 'Senior Data Analyst - CRM',
 'Senior Data Analyst - Supporting Audits',
 'Research - Data Analyst / Associate',
 'Data Analyst 1']

In [31]:
location = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
len(location)
location[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="40706281-dcb9-4ffd-b6f2-fa600e4870e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="9915986f-e27f-48a7-959b-36c58d1f5749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="8a12f6a9-74c7-4b24-9534-ecdc8d6b478f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="7eb98be1-1026-4025-9b34-a72fd9e281c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="6a6547c8-eca2-4e44-84f4-5d7a3c344d7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="f2c5fa94-8dbb-4c4c-87cd-8f394c924ef2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="dd4bb9a0-fb32-4899-a356-a924dc48aa32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="3f1cc7ec-a7a2-4428-ab3e-42862f18fa35")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="bd84d44c-99c8-4db7-b3d0-162fa56c6dd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="44e3880f-9827-4fbb-b624-6ecc3ee515e1")>]

In [32]:
job_location = []

for i in location:
    job_location.append(i.text)
b = job_location[0:10]    
b

['Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bengaluru/Bangalore',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [33]:
company = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
len(company)
company[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="b84d0d7b-1164-4655-8f70-0e8971bfe077")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="64d0ba45-44c1-4353-b543-698cebc86a40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="390962d7-33d7-4c4e-a8d3-fe4bbf61a5c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="6270d3f2-bb87-4692-91e7-842f9591a86e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="3e284e24-cee4-4ede-9a53-4fd2b2e76c9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="6c6ea9f2-3cd0-425b-8f79-4ca1a2024596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="ecc1ad6a-ef1c-476b-ae0b-1afd7fea7f37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="c2b539ab-146b-456d-a9b7-e89fa6636480")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="414fe77c-6d09-4883-8fbd-e9841b9753d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="e80fbcb8-e1f0-4ad4-85cc-d3380380c353")>]

In [34]:
company_name = []

for i in company:
    company_name.append(i.text)
c = company_name[0:10]    
c

['GlobalLogic',
 'Flipkart',
 'Sejal Consulting Hub',
 'Labcorp Drug Development India Private Limited',
 'Axim Technologies',
 'Vmware',
 'Gojek Tech',
 'Visa',
 'AXL HR Tech',
 'Optum Global Solutions (India) Private Limited']

In [35]:
Experience = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')
len(Experience)
Experience[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="09dd49e7-14b7-4cbf-8827-63688227d743")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="731b6d34-b020-41c5-8a4e-69929cc7d1a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="ae2e2026-4f3c-448f-b8b1-6e27ba86476e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="88c6a303-801b-4f41-a6cd-fa311036eeeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="f295c8b0-df10-4173-8b6a-33ebefcd3ddd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="dc5494ef-9251-49b7-8d82-fcd2939be255")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="9c287db4-41ea-4bbf-ba38-0bcd3d86d583")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="9aedbd2b-4bf2-4203-8b1e-b6fd64565591")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="d656aa12-3531-4828-993c-1a05d88b215b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="431bf0ebd83196e109885ceb547bc091", element="9aa2084d-ac41-4f62-9cc7-8050a74f3319")>]

In [36]:
job_experience = []

for i in Experience:
    job_experience.append(i.text)
d = job_experience[0:10]    
d

['4-8 Yrs',
 '4-6 Yrs',
 '0-3 Yrs',
 '0-2 Yrs',
 '12-14 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '0-2 Yrs',
 '4-9 Yrs']

In [37]:
df = pd.DataFrame()
df['Job Title'] = a
df['Job Location'] = b
df['Company Name'] = c
df['Job experience'] = d
df

,Job Title,Job Location,Company Name,Job experience
0,Hiring Data Analyst For Global Logic-Immediate...,"Noida, Nagpur, Pune, Gurgaon/Gurugram, Bangalo...",GlobalLogic,4-8 Yrs
1,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-6 Yrs
2,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Sejal Consulting Hub,0-3 Yrs
3,Assistant Clinical Data Analyst,Bangalore/Bengaluru,Labcorp Drug Development India Private Limited,0-2 Yrs
4,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
5,Data Analyst / Sr. Data Analyst,Bangalore/Bengaluru,Vmware,3-6 Yrs
6,Senior Data Analyst - CRM,Bangalore/Bengaluru,Gojek Tech,2-5 Yrs
7,Senior Data Analyst - Supporting Audits,Bangalore/Bengaluru,Visa,5-8 Yrs
8,Research - Data Analyst / Associate,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",AXL HR Tech,0-2 Yrs
9,Data Analyst 1,Bangalore/Bengaluru,Optum Global Solutions (India) Private Limited,4-9 Yrs

In [38]:
driver.close()

# Question - 2:

In [39]:
driver = webdriver.Chrome('chromedriver.exe')

In [40]:
url = 'https://www.naukri.com/'
driver.get(url)

In [41]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [42]:
search_job.send_keys("Data Scientist")

In [43]:
search_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [44]:
search_location.send_keys("Bangalore")

In [45]:
search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button

In [46]:
search_button.click()

In [47]:
title_tags = driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="fdee7b7d-211f-4336-acb1-5f939418753b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="022b2055-2db9-44b0-b17d-c50ba0b84daf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="5331f24f-e6cc-4f95-9bba-1474f4567a4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="9c152bf0-04f0-4d77-b54e-25c588f8362c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="b8f790f7-4a7d-4bf1-aa9b-5822504ba167")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="d5dad6fa-d444-429d-a2d5-f0321d6898b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="b91e8e45-07f6-4e95-86b8-7df8f49a2276")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="3e96c2f2-5388-46bc-8efa-bd7c20fa464c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="11a46cf4-f417-414f-97cc-27b0bd629b20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="b34a02cc-3fc7-4063-a9f7-bffe5183630c")>]

In [48]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
e = job_titles[0:10]   
e

['Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Sr . Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist - Python/Machine Learning Algorithms',
 'Senior/Lead Data Scientist - (Revenue Management)',
 'Senior/Lead - Data Scientist (Supply Chain)']

In [49]:
location = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
len(location)
location[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="7b73f7e4-8468-4e40-b641-03047fc3b58d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="876f49d7-0187-4dfb-8cd1-ec075f3c646b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="2a4e466c-017a-48d4-81fb-cc8c2767d3a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="dad2585c-ff1b-4f00-8c05-85bc3eb8ca7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="018ecd08-872e-452b-8f0c-621352174263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="da517303-45e6-46a5-9d88-f2fb2d8aef53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="637ca47c-b060-4424-85a9-1385030e7928")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="c532bddb-9997-4e16-bf60-7fb0fc9a3e18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="fa212ec3-a1e1-4559-bf96-bc641c672d5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="bd59f622-d18b-4126-bd27-00d70d96bc6e")>]

In [50]:
job_location = []

for i in location:
    job_location.append(i.text)
f = job_location[0:10]    
f

['Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [51]:
company = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
len(company)
company[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="79876377-bd1d-410b-9839-671928b261bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="35f4bdad-09e8-466e-ac3f-ce5d533dc3a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="a458a672-af1f-4b04-baf1-f2d47f314a47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="04b18063-2a17-4c19-a9c8-ebe370f28f15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="d96f7ded-4b55-458e-90cc-f3d48411bb88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="b0f3b6bd-09a2-4fc6-8988-510556a55065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="602acd4b-6658-44a7-9e75-62ad9dd114ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="a1bbe561-7613-478e-961a-838674285b69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="e0ba4a71-9caa-418f-a77d-92995fe95b2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="cc2cd947-b87f-4836-9f5f-0016929602b6")>]

In [52]:
company_name = []

for i in company:
    company_name.append(i.text)
g = company_name[0:10]    
g

['IBM',
 'IBM',
 'Harman Connected Services Corporation India Pvt.',
 'Slice',
 'Siemens',
 'Dell',
 'Dell',
 'Altimax Business Solutions',
 'o9 Solutions Management India Private Limited',
 'o9 Solutions Management India Private Limited']

In [53]:
Experience = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')
len(Experience)
Experience[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="7412f377-f9fc-4f34-af7a-182f4bb1adfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="398ab2be-a76c-46b3-a758-51ca9bd032aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="b689c893-6815-472a-8bd2-5d9631fd0691")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="73a21a0a-f98f-42ef-ac95-9913b86c1f8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="13c213b2-5c60-4057-a612-e81a7276cd00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="1ccd0c8f-9d85-4182-89ed-f98c70cfb18f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="e530fc7b-cc11-4d94-9992-6af73a72b531")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="ace8be61-d815-4318-ac1f-63573d6730e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="3e13a0e7-4994-4c16-ab97-c87d5816866e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="bc33f3a8-5a8c-4437-a895-cdb7b3dd9c89")>]

In [54]:
job_experience = []

for i in Experience:
    job_experience.append(i.text)
h = job_experience[0:10]    
h

['5-10 Yrs',
 '5-7 Yrs',
 '8-10 Yrs',
 '3-7 Yrs',
 '0-6 Yrs',
 '5-8 Yrs',
 '8-12 Yrs',
 '4-9 Yrs',
 '4-9 Yrs',
 '4-9 Yrs']

In [55]:
df = pd.DataFrame()
df['Job Title'] = e
df['Job Location'] = f
df['Company Name'] = g
df['Job experience'] = h
df

,Job Title,Job Location,Company Name,Job experience
0,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM,5-10 Yrs
1,Data Scientist: Advanced Analytics,Bengaluru/Bangalore,IBM,5-7 Yrs
2,Sr . Data Scientist,Bangalore/Bengaluru,Harman Connected Services Corporation India Pvt.,8-10 Yrs
3,Senior Data Scientist,Bangalore/Bengaluru,Slice,3-7 Yrs
4,Sr Data Scientist,Bangalore/Bengaluru,Siemens,0-6 Yrs
5,Senior Data Scientist,Bangalore/Bengaluru,Dell,5-8 Yrs
6,Senior Data Scientist,Bangalore/Bengaluru,Dell,8-12 Yrs
7,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Altimax Business Solutions,4-9 Yrs
8,Senior/Lead Data Scientist - (Revenue Management),Bangalore/Bengaluru,o9 Solutions Management India Private Limited,4-9 Yrs
9,Senior/Lead - Data Scientist (Supply Chain),Bangalore/Bengaluru,o9 Solutions Management India Private Limited,4-9 Yrs

# # Question - 3:

In [56]:
url = 'https://www.naukri.com/'
driver.get(url)

In [57]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [58]:
search_job.send_keys("Data Scientist")

In [59]:
search_btn = driver.find_element_by_class_name('qsbSubmit')
search_btn.click()

In [61]:
location_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_check.click()

In [62]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_check.click()

In [63]:
title_tag= driver.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]')
title= title_tag[0:10]
title

[<selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="cad5936d-46fc-485f-aad2-1558024cc2d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="8b790045-0126-4241-93dc-d04707c13df6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="4440bf4e-ba8c-4828-97b4-c8f105a81c75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="b3ad3477-9fc6-4cea-89c7-a7df7c2d0382")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="48c99829-c8ef-4ebd-a55d-67cbbce8ff6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="ddad2ec7-1d3d-4309-aa61-e71e2c571648")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="ccd6352e-1726-4078-8b39-bf792113fc00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="79adf312-f30e-44c9-bf68-54cf3c66aba3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="3b2c477b-b66a-43b4-b807-c7c76aec527c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="4d24b48e-9eaf-4025-b42a-036fd05878da")>]

In [64]:
title_tags = []
for i in title:
    title_tags.append(i.text)
len(title_tags)
title_tags

['Data Scientist / Senior DS/ Team Lead',
 'Openings For Jr/mid/Sr level data Scientists',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Hiring For Data Analyst / Data Scientist',
 'Senior Data Scientist I',
 'Data Scientist',
 'Data Scientist | Python | Machine Learning | Deep Learning- Fresher',
 'Data Scientist role',
 'Data Scientist',
 'Data Scientist role']

In [65]:
loc = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi location"]')
location = loc[0:10]
location

[<selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="76c55efe-4f60-4266-86d2-8b907bbd83e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="074030db-4a2b-4c34-a138-8887ae5a9482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="03ccee99-22d0-4cc4-a374-f15c5d8590d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="b2768300-1248-4074-8f0b-947b9315c50c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="52ccb93e-2e9b-4331-9619-d509085e0a3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="b939151a-3907-4f39-a761-7e0a780ee9ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="f1f0155d-d646-461b-977f-0e9b473d61e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="92acd41f-cc42-4003-b0b9-f78691a296f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="eae286f6-16bf-4f6b-98eb-542ad28384e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="558331b0-261a-4993-845d-7be4b07529b6")>]

In [66]:
locationn = []
for i in location:
    locationn.append(i.text)
locationn

['Mumbai, Gurgaon/Gurugram(Cyber City +1)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR',
 'Noida(Sector-59 Noida)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram(Uday Nagar)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)']

In [67]:
com = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
comp = com[0:10]
comp

[<selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="65395d2f-226c-45bc-871e-bfb9da08b1d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="05ffcaed-b12a-4409-88fd-090a99bf9b20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="dd1208e6-cfee-4a6e-b0d5-ca0f07b31e90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="ab59a420-9c6c-4c70-9820-437f62dd603b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="3921d2b5-80c5-4352-bf89-3d69377e08d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="358c03d4-5c59-419a-bcd0-f2e9a5070985")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="409af866-1e16-4ae7-b4f9-6c3466d79fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="270b9c81-3d56-400b-a99d-9cf461119ac5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="ed6e6df5-1a64-4aba-ace9-efb559120afc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="aff8c31e-8292-4e2c-97ec-36e6701fc3e9")>]

In [68]:
company = []
for i in comp:
    company.append(i.text)
company

['NebulARC Technologies Private Limited',
 'Pluto seven business solutions (p) limited',
 'HCL',
 'Careerera',
 'Delhivery',
 'Core Diagnostics Private Limited',
 'Schlesinger Group',
 'Mount Talent Consulting Private Limited',
 'T & A Solutions',
 'Mount Talent Consulting Private Limited']

In [69]:
exp = driver.find_elements_by_xpath('//li[@class = "fleft grey-text br2 placeHolderLi experience"]')
expe = exp[0:10]
expe

[<selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="78e4dfeb-be11-4fdf-9947-3e1137ef58c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="96c92281-cd88-4f55-87f2-8e2082285dbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="e8095bda-cb8f-442c-8cd9-af08400b0a46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="e412e138-c438-48f4-bbb4-d7328a0032ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="9b7c0d3b-e8dd-45ee-8394-77ce88934506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="b429dd12-fe51-43ae-8a45-1603b6ff43b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="42380536-8abf-4d9d-81db-d5b522496b99")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="ab8011a6-fde8-43c7-b253-e95e202a556a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="234d3440-b698-414d-a0dc-22a77d3afc93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af2b53d389c42fb843dad40ae9d27a00", element="7825a99e-7dad-4604-bdc2-2319ddec8e20")>]

In [70]:
experience = []
for i in expe:
    experience.append(i.text)
experience

['0-4 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '0-3 Yrs',
 '1-4 Yrs',
 '2-6 Yrs',
 '1-3 Yrs']

In [71]:
df = pd.DataFrame()
df['Job Title'] = title_tags
df['Job Location'] = locationn
df['Company Name'] = company
df['Experience Required'] = experience
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist / Senior DS/ Team Lead,"Mumbai, Gurgaon/Gurugram(Cyber City +1)",NebulARC Technologies Private Limited,0-4 Yrs
1,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited,2-6 Yrs
2,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL,2-6 Yrs
3,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,2-5 Yrs
4,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery,3-7 Yrs
5,Data Scientist,Gurgaon/Gurugram(Uday Nagar),Core Diagnostics Private Limited,2-7 Yrs
6,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group,0-3 Yrs
7,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-4 Yrs
8,Data Scientist,Gurgaon/Gurugram,T & A Solutions,2-6 Yrs
9,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited,1-3 Yrs

# Question : 4

In [72]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [73]:
search = driver.find_element_by_class_name("_3704LK")
search.send_keys("Sun Glasses")

In [74]:
Search_btn = driver.find_element_by_class_name('L0Z3Pu')
Search_btn.click()

In [75]:
start=0
stop= 4

brand = []
price = []
description = []
off = []

for page in range(start,stop):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    descp=driver.find_elements_by_class_name('IRpwTa')
    dis=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    
    for i in brands:
        brand.append(i.text)
    for j in prices:
        price.append(j.text)
    for k in descp:
        description.append(k.text)
    for l in dis:
        off.append(l.text)
        
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
print(len(brand))
print(len(price))
print(len(description))
print(len(off))

160
160
160
159

In [76]:
a=brand[0:100]
b=price[0:100]
c=description[0:100]
d=off[0:100]

In [77]:
df=pd.DataFrame() 
df['Brand']=a
df['Product Description'] = b
df['Price']=c
df['Discount']=d
df

,Brand,Product Description,Price,Discount
0,DEIXELS,₹319,UV Protection Rectangular Sunglasses (Free Size),78% off
1,ROZZETTA CRAFT,₹426,"UV Protection, Riding Glasses Rectangular Sung...",80% off
2,PIRASO,₹200,UV Protection Aviator Sunglasses (54),87% off
3,Elligator,₹248,UV Protection Round Sunglasses (54),90% off
4,Fastrack,₹759,UV Protection Wayfarer Sunglasses (Free Size),15% off
...,...,...,...,...
95,DEIXELS,₹319,UV Protection Rectangular Sunglasses (Free Size),78% off
96,ROZZETTA CRAFT,₹426,"UV Protection, Riding Glasses Rectangular Sung...",80% off
97,kingsunglasses,₹256,"Mirrored, UV Protection Wayfarer Sunglasses (F...",82% off
98,New Specs,₹168,UV Protection Rectangular Sunglasses (Free Size),88% off
99,AISLIN,₹498,"UV Protection, Gradient Round Sunglasses (58)",67% off

# Question : 5

In [78]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [80]:
next = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
next.click()

In [83]:
start=0
end= 15
rating = []
review = []
full = []
for page in range(start,end):
    ratings=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    reviews=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    description=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in ratings:
        rating.append(i.text)
    for j in reviews:
        review.append(j.text)
    for k in description:
        full.append(k.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
print(len(rating))
print(len(review))
print(len(full))

146
150
150

In [84]:
k = rating[0:100]
l = review[0:100]
m = full[0:100]

In [85]:
df=pd.DataFrame()
df['Ratings']=k
df['Reviews'] = l
df['Product Description']=m
df

,Ratings,Reviews,Product Description
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,3,Just wow!,The ultimate performance\nCamera is superb\nTh...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,5,Decent product,Everything u ll like it when u use this iPhone...
99,5,Wonderful,Nice value for money good and best price I pho...

# Question - 6

In [86]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [87]:
search = driver.find_element_by_class_name("_3704LK")
search.send_keys("sneakers")

In [88]:
Search_btn = driver.find_element_by_class_name('L0Z3Pu')
Search_btn.click()

In [89]:
start=0
end=3
brand = []
price = []
des = []
for page in range(start,end):
    brands=driver.find_elements_by_class_name('_2WkVRV')
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    descp=driver.find_elements_by_class_name('IRpwTa')

    for i in brands:
        brand.append(i.text)
    for j in prices:
        price.append(j.text)
    for k in descp:
        des.append(k.text)

    nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
print(len(brand))
print(len(price))
print(len(des))

120
120
120

In [90]:
e=brand[0:100]
f=price[0:100]
g=des[0:100]

In [91]:
df=pd.DataFrame()
df['Brand']=e
df['Product Description'] = f
df['Price']=g
df

,Brand,Product Description,Price
0,Echor,₹569,Echor Men's Sneakers Fashion Lightweight Runni...
1,India hub,₹429,Luxury Fashionable casual sneaker shoes Sneake...
2,Magnolia,₹398,Sneakers For Men
3,URBANBOX,₹220,Sneakers Sneakers For Men
4,Labbin,₹499,Sneakers For Men
...,...,...,...
95,DUNKASTON,₹374,Sneakers For Men
96,BRUTON,₹471,Modern & Trendy Collection Combo Pack of 02 Sh...
97,SPADE CLUB,₹665,Sneakers For Men
98,Bata,₹999,Sneakers For Men
99,luxury fashion,₹479,Luxury Fashionable casual sneaker shoes Sneake...

# Question - 7:

In [92]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [93]:
color = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color.click()

In [94]:
price_check = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_check.click()

In [95]:
start=0
end=3
brand = []
price = []
description = []

for page in range(start,end):
    brands=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    prices=driver.find_elements_by_xpath("//div[@class='product-price']")
    descrip=driver.find_elements_by_xpath("//h4[@class='product-product']")
    
    for i in brands:
        brand.append(i.text)
    for j in prices:
        price.append(j.text)
    for k in descrip:
        description.append(k.text)
        
    nxt_button=driver.find_elements_by_xpath("//a[@rel='next']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))
        
print(len(brand))
print(len(price))
print(len(description))

150
150
150

In [96]:
h= brand[0:100]
i=price[0:100]
j=des[0:100]

In [97]:
df = pd.DataFrame()
df['Brand']=h
df['Short Shoe Description'] = i
df['Price of the Shoe'] = j
df

,Brand,Short Shoe Description,Price of the Shoe
0,Puma,Rs. 7799Rs. 12999(40% OFF),Echor Men's Sneakers Fashion Lightweight Runni...
1,Saint G,Rs. 9265Rs. 10900(15% OFF),Luxury Fashionable casual sneaker shoes Sneake...
2,Delize,Rs. 9999,Sneakers For Men
3,Delize,Rs. 9999,Sneakers Sneakers For Men
4,Skechers,Rs. 7499,Sneakers For Men
...,...,...,...
95,Hush Puppies,Rs. 8999Rs. 9999(10% OFF),Sneakers For Men
96,Saint G,Rs. 7565Rs. 8900(15% OFF),Modern & Trendy Collection Combo Pack of 02 Sh...
97,Skechers,Rs. 10999,Sneakers For Men
98,Heel & Buckle London,Rs. 7693Rs. 10990(30% OFF),Sneakers For Men
99,Bugatti,Rs. 8799Rs. 10999(20% OFF),Luxury Fashionable casual sneaker shoes Sneake...

# Question - 8:

In [5]:
url = 'https://www.amazon.in/'
driver.get(url)

In [6]:
search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [7]:
Search_button=driver.find_element_by_id("nav-search-submit-button")
Search_button.click()

In [8]:
see = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span')
see.click()

In [9]:
i7 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[12]/div/span')
i7.click()

In [10]:
name = []
p = []
pr = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
na = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in pr:
    p.append(i.text)
p= p[0:10]
print(p)
for j in na:
    name.append(j.text)
name = name[0:10]
print(name)

['30,990', '30,740', '36,011', '31,290', '52,990', '50,990', '45,041', '28,990', '56,990', '38,990']
['Dell 15 (2021) PQC-N5030, 4GB, 256GB SSD, Win 11 + MS Office\'21, Integrated Graphics, 15.6" (39.62 cms) HD Display, Carbon Black (Inspiron 3510, D560717WIN9B)', 'Acer Extensa 15 Thin & Light Intel Processor Pentium Silver N5030 15.6 inches Business Laptop (4GB RAM/1TB HDD/Windows 10 Home/Integrated Graphic Card/Black/1.9 Kg, EX215-31)', 'Dell Inspiron 3502 15.6 inches HD Display Laptop (Intel Pentium Silver N5030 / 4GB / 256GB SSD / Integrated Graphics / Windows 10 + MSO / Accent Black) D560427WIN9BE, 1.7kg', 'Acer Extensa 15 Thin & Light Intel Processor Pentium Silver N5030 15.6 inches Business Laptop (4GB RAM/1TB HDD/Windows 11 Home/Integrated Graphic Card/Black/1.9 Kg, EX215-31)', 'Microsoft Surface GO 2 STQ-00013 10.1" (26.54 cms) Laptop (Gold Processor 4425Y/8GB/128GB SSD/Windows 10 Home in S Mode/Intel UHD 615 Graphics), Platinum', 'Microsoft Surface GO 3 8VA-00013 10.5" (26.67 cms) Laptop (Intel Pentium T6600 Processor/8GB/128GB SSD/Windows 11 Home), Platinum', '(Renewed) Microsoft Surface GO 2 Intel Pentium 10.5-Inch (26.67 cms) 1920x1080 Laptop (8 GB/128 GB/Windows 10 S/Intel HD Graphics 615/Platinum/544 g), STQ-00013', 'ASUS Intel Pentium Quad Core 15.6 inches Business Laptop (4 GB/1 TB HDD/1366 X 768 HD/Windows 10 Home) Transparent Silver, 1.9 kg - X543MA-GQ1020T', 'Dell Inspiron 3501 15.6 inches FHD Display Laptop (Intel i5-1135G7 / 4GB / 1TB HDD + 256GB SSD / Integrated Graphics / Windows 10 + MSO / Soft Mint Color) D560437WIN9SE, 1.83kg', 'HP 14 Intel Pentium N6000 14-inch(35.6 cm) Laptop (8GB/256GB SSD/Windows 10/MS Office/Jet Black/1.46Kg), 14s-dq3018TU']

In [11]:
ur= driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a')
url = []
for i in ur[0:10]:
    url.append(i.get_attribute('href'))

In [12]:
len(url)

10

In [13]:
from selenium.common.exceptions import NoSuchElementException

In [14]:
rating = []
for i in url:
    try:
        driver.get(i)
        l = driver.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]')
        rating.append(l.text)
    except NoSuchElementException:
        rating.append('No ratings avail')

In [15]:
rating

['No ratings avail',
 '3.5 out of 5',
 '4.3 out of 5',
 '4.2 out of 5',
 '4.1 out of 5',
 '3.2 out of 5',
 'No ratings avail',
 '3.4 out of 5',
 '3.9 out of 5',
 '4.1 out of 5']

In [16]:
df = pd.DataFrame({'Title':name,'Price':p,'Ratings':rating})
df

                                               Title   Price           Ratings
0  Dell 15 (2021) PQC-N5030, 4GB, 256GB SSD, Win ...  30,990  No ratings avail
1  Acer Extensa 15 Thin & Light Intel Processor P...  30,740      3.5 out of 5
2  Dell Inspiron 3502 15.6 inches HD Display Lapt...  36,011      4.3 out of 5
3  Acer Extensa 15 Thin & Light Intel Processor P...  31,290      4.2 out of 5
4  Microsoft Surface GO 2 STQ-00013 10.1" (26.54 ...  52,990      4.1 out of 5
5  Microsoft Surface GO 3 8VA-00013 10.5" (26.67 ...  50,990      3.2 out of 5
6  (Renewed) Microsoft Surface GO 2 Intel Pentium...  45,041  No ratings avail
7  ASUS Intel Pentium Quad Core 15.6 inches Busin...  28,990      3.4 out of 5
8  Dell Inspiron 3501 15.6 inches FHD Display Lap...  56,990      3.9 out of 5
9  HP 14 Intel Pentium N6000 14-inch(35.6 cm) Lap...  38,990      4.1 out of 5

In [130]:
#url = 'https://www.amazon.in/'
#driver.get(url)

In [131]:
#search = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
#search.send_keys('Laptop')

In [132]:
#Search_button=driver.find_element_by_id("nav-search-submit-button")
#Search_button.click()

In [133]:
#see = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[2]/a/span')
#see.click()

In [ ]:
#i9 = driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[14]/div/span')
#i9.click()

In [ ]:
#name = []
#p = []
#pr = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
#na = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
#for i in pr:
    #p.append(i.text)
#p= p[0:10]
#print(p)
#for j in na:
    #name.append(j.text)
#name = name[0:10]
#print(name)

In [ ]:
#ur= driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a')
#url = []
#for i in ur[0:10]:
   # url.append(i.get_attribute('href'))

In [ ]:
#rating = []
#for i in url:
    #try:
        #driver.get(i)
       # l = driver.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]')
       # rating.append(l.text)
    #except NoSuchElementException:
        #rating.append('No ratings avail')

In [ ]:
#df1 = pd.DataFrame({'Title':name,'Price':p,'Ratings':rating})
#df1

In [ ]:
driver.close()

# Question - 9:

In [102]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [103]:
job= driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job.click()

In [104]:
search = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search.send_keys('Data Scientist')

In [105]:
Search_button=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span')
Search_button.click()

In [106]:
loca=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
loca.click()

In [107]:
place=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
place.send_keys('Noida')

In [108]:
enter=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
enter.click()

In [109]:
#heading = []
names = []
days = []
ratings = []
#head=driver.find_elements_by_xpath("//a[@class='title noclick']")
name=driver.find_elements_by_xpath("//p[@class='company body-medium']")
day =driver.find_elements_by_xpath("//span[@class='body-small-l']")
rat =driver.find_elements_by_xpath("//span[@class='body-small']")
#for i in head:
    #heading.append(i.text)
for j in name:
    names.append(j.text)
for k in day:
    days.append(k.text)
for l in rat:
    ratings.append(l.text)
#print(len(heading))
print(len(names))
print(len(days))
print(len(ratings))

10
20
10

In [110]:
n=days[0:20:2]
n

['2d ago',
 '2d ago',
 '4d ago',
 '10d ago',
 '11d ago',
 '12d ago',
 '23d ago',
 '23d ago',
 '23d ago',
 '1d ago']

In [111]:
print(len(n))

10

In [112]:
df =pd.DataFrame()
df['Company Name'] = names
df['No. of days ago the job was posted'] = n
df['Rating of company'] = ratings
df

,Company Name,No. of days ago the job was posted,Rating of company
0,HCL,2d ago,3.8
1,Jubilant Foodworks Limited,2d ago,3.9
2,Ameriprise Financial,4d ago,4.0
3,Paytm,10d ago,3.7
4,CHT Sapiense,11d ago,3.8
5,CHT Sapiense,12d ago,3.8
6,GI Group,23d ago,4.1
7,GI Group,23d ago,4.1
8,GI Group,23d ago,4.1
9,Cargoflash,1d ago,3.8

# Question - 10

In [113]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [114]:
salary = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary.click()

In [115]:
search=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search.send_keys('Data Scientist')

In [116]:
cc=driver.find_element_by_xpath('//div[@class="suggestion"]')
cc.click()

In [117]:
sal = []
salary=driver.find_elements_by_class_name('name')
for i in salary:
    sal.append(i.text.split('\n')[0])
t = sal[0:10]
t

['Walmart',
 'Ab Inbev',
 'ZS',
 'Fractal Analytics',
 'Optum',
 'UnitedHealth',
 'Tiger Analytics',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson']

In [118]:
Avg_sal = []
Average=driver.find_elements_by_class_name('name')
for i in salary:
    Avg_sal.append(i.text.split('\n')[-1])
s = Avg_sal[0:10]
s

['based on 10 salaries',
 'based on 22 salaries',
 'based on 14 salaries',
 'based on 72 salaries',
 'based on 23 salaries',
 'based on 49 salaries',
 'based on 27 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 42 salaries']

In [119]:
Experience = []
Exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in Exp:
    Experience.append(i.text.split('\n')[-1])
Experience

['3 yrs exp',
 '3-4 yrs exp',
 '2 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp']

In [120]:
min_salary = []
sal=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in sal:
    min_salary.append(i.text)
q = min_salary[0:20:2]
q

['₹ 17.7L',
 '₹ 15.0L',
 '₹ 9.8L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 7.2L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L']

In [121]:
Average_salary = []
Avg=driver.find_elements_by_xpath('//div[@class="average-indicator-wrapper"]')
for i in Avg:
    Average_salary.append(i.text)
Average_salary

['₹ 28.7L',
 '₹ 19.5L',
 '₹ 15.8L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [122]:
Maximum_salary = []
Max=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in Max:
    Maximum_salary.append(i.text)
r = Maximum_salary[1:20:2]
r

['₹ 35.0L',
 '₹ 25.0L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 21.3L',
 '₹ 20.5L',
 '₹ 18.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 21.5L']

In [123]:
df =pd.DataFrame()
df['Company Name'] = t
df['Total salary record'] = s
df['Experience'] = Experience
df['Minimum salary'] = q
df['Average salary'] = Average_salary
df['Maximum salary'] = r
df

,Company Name,Total salary record,Experience,Minimum salary,Average salary,Maximum salary
0,Walmart,based on 10 salaries,3 yrs exp,₹ 17.7L,₹ 28.7L,₹ 35.0L
1,Ab Inbev,based on 22 salaries,3-4 yrs exp,₹ 15.0L,₹ 19.5L,₹ 25.0L
2,ZS,based on 14 salaries,2 yrs exp,₹ 9.8L,₹ 15.8L,₹ 20.0L
3,Fractal Analytics,based on 72 salaries,2-4 yrs exp,₹ 9.5L,₹ 15.0L,₹ 22.0L
4,Optum,based on 23 salaries,3-4 yrs exp,₹ 11.0L,₹ 15.0L,₹ 21.3L
5,UnitedHealth,based on 49 salaries,2-4 yrs exp,₹ 7.2L,₹ 13.5L,₹ 20.5L
6,Tiger Analytics,based on 27 salaries,3-4 yrs exp,₹ 8.3L,₹ 13.5L,₹ 18.5L
7,Verizon,based on 14 salaries,4 yrs exp,₹ 10.0L,₹ 12.7L,₹ 21.0L
8,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 8.5L,₹ 12.4L,₹ 15.0L
9,Ericsson,based on 42 salaries,3-4 yrs exp,₹ 5.8L,₹ 11.9L,₹ 21.5L

In [128]:
driver.close()

In [129]:
# Now we will connect to the web driver:

driver = webdriver.Chrome('chromedriver.exe')